{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Appointment Details
{% endblock %} {% block styles %}
<link href="{% static 'dashboard/css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Appointment Details</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Patient</th>
                                            {% if appointment.patient %}
                                            <td><a href = {% url 'dashboard:patients:patient_details' appointment.patient.pk %}> {{ appointment.name }}</a></td>
                                            {% else %}
                                            <td>{{ appointment.name }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th>Department</th>
                                            <td>{{appointment.department.name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Date</th>
                                            <td>{{ appointment.date }}</td>
                                        </tr>
                                        <tr>
                                            <th>Uploaded On</th>
                                            <td>{{ appointment.created_at }} </td>
                                        </tr>
                                        <tr>
                                            <th>Message</th>
                                            <td>{{ appointment.message }}</td>
                                        </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td>
                                                {% if appointment.status == 'confirmed' %}
                                                <span class="badge badge-pill badge-success">Confirmed</span>
                                                {% elif appointment.status == 'pending' %}
                                                <span class="badge badge-pill badge-info">Pending</span>
                                                {% elif appointment.status == 'declined' %}
                                                <span class="badge badge-pill badge-danger">Declined</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                               <div class="text-center py-3">
                                    {% comment %} <a href="{% url 'dashboard:appointments:appointment_update' appointment.pk %}" class="mx-1">
                                        <button class="btn btn-primary mt-3">Edit</button>
                                    </a> {% endcomment %}
                                    {% if appointment.status == 'pending' %}
                                    <a href="{% url 'dashboard:appointments:appointment_mark_as_confirmed_action' pk=appointment.pk %}" class="mx-1">
                                        <button class="btn btn-sm btn-success mt-3">Accept</button>
                                    </a>
                                    <a href="{% url 'dashboard:appointments:appointment_mark_as_declined_action' pk=appointment.pk %}" class="mx-1">
                                        <button class="btn btn-sm btn-warning mt-3">Decline</button>
                                    </a>
                                    {% elif appointment.status == 'confirmed' %}
                                    <a href="{% url 'dashboard:appointments:appointment_mark_as_declined_action' pk=appointment.pk %}" class="mx-1">
                                        <button class="btn btn-sm btn-warning mt-3">Decline</button>
                                    </a>
                                    {% elif appointment.status == 'declined' %}
                                    <a href="{% url 'dashboard:appointments:appointment_mark_as_confirmed_action' pk=appointment.pk %}" class="mx-1">
                                        <button class="btn btn-sm btn-success mt-3">Accept</button>
                                    </a>
                                    {% endif %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'dashboard/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $("#data-table").DataTable();
</script>
{% endblock %}