{% extends 'account/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h4 class="text-center">Reset Password</h4>
    <p class="text-center">
        <small class="text-muted">A reset link will be sent to your email.</small>
    </p>
    <form method="post">
        {% csrf_token %}
        {% include 'partials/forms/form.html' %}
        <div class="clearfix py-3">
            <a href="{% url 'account_login' %}" class="float-left text-primary pt-1">Back to log in</a>
            <button class="btn text-white btn-dark float-right" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}