{% load static %}
<div class="col-lg-6">
    <div class="member d-flex align-items-start">
      <div class="pic">
      {% if doctor.photo %}
      <img src="{{ doctor.photo.url }}" class="img-fluid" alt="{{doctor.get_full_name}}">
      {% else %}
      <img src="{% static 'dashboard/img/user_icon.png' %}" class="img-fluid" alt="{{doctor.get_full_name}}">
      {% endif %}
      </div>
      <div class="member-info">
        <h4>{{doctor.get_full_name}}</h4>
        <span>{{doctor.department}}</span>
        <p>{{doctor.bio}}</p>
        <!-- <div class="social">
          <a href=""><i class="ri-twitter-fill"></i></a>
          <a href=""><i class="ri-facebook-fill"></i></a>
          <a href=""><i class="ri-instagram-fill"></i></a>
          <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
        </div> -->
      </div>
    </div>
  </div>