{% extends 'dashboard/base.html' %} 
{% block content %}

        <div class="row">
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Total Appointments</h5>
                <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>0</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Doctors</h5>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-info"></i>{{doctors_count}}</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Events</h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>0</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Patients</h5>
                <h3 class="card-title"><i class="tim-icons icon-book-bookmark text-success"></i>0</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title">Recent Doctors</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Contact</th>
                            <th>Email Address</th>
                            <th>Added</th>
                            <th>Last Login</th>
                            <th>Status</th>
                            <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for doctor in recent_doctors %}
                        <tr>
                            <td>{{ doctor.first_name }} </td>
                            <td> {{ doctor.last_name }}</td>
                            <td> {{ doctor.phone_number }}</td>
                            <td>{{ doctor.email }}</td>
                            <td> {{ doctor.date_joined }}</td>
                            <td> {{ doctor.last_login }}</td>
                            {% if doctor.is_active %}
                            <td>
                                <span class="badge badge-pill badge-success">Active</span>
                            </td>
                            {% else %}
                            <td>
                                <span class="badge badge-pill badge-danger">Inactive</span>
                            </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'dashboard:doctors:doctor_details' doctor.pk %}">
                                    <button class="btn btn-primary btn-sm">View</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endblock %}