<div class="sidebar">
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a href="./dashboard.html">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="./icons.html">
          <i class="tim-icons icon-single-02"></i>
          <p>Doctors</p>
        </a>
      </li>
      <li>
        <a href="./map.html">
          <i class="tim-icons icon-single-02"></i>
          <p>Receptionists</p>
        </a>
      </li>
      <li>
        <a href="./notifications.html">
          <i class="tim-icons icon-notes"></i>
          <p>Appointments</p>
        </a>
      </li>
      <li>
        <a href="./user.html">
          <i class="tim-icons icon-badge"></i>
          <p>Patients</p>
        </a>
      </li>
      <li>
        <a href="./user.html">
          <i class="tim-icons icon-send"></i>
          <p>Events/News</p>
        </a>
      </li>
      <li>
        <a href="./user.html">
          <i class="tim-icons icon-single-02"></i>
          <p>My Profile</p>
        </a>
      </li>
    </ul>
  </div>
</div>